<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" 
         id="WebApp_ID" version="4.0">
 <display-name>316_carritoCompras_sesion</display-name>
  <welcome-file-list>
    <welcome-file>vistasSeguros/seleccionProductos.html</welcome-file>
  </welcome-file-list>
  
 <servlet>
    <servlet-name>carrito</servlet-name>
    <servlet-class>org.qtx.curso.web.servlet.servlet.CreadorSesionGestorCarrito</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>catalogo</servlet-name>
    <servlet-class>org.qtx.curso.web.servlet.servlet.SeleccionadorProductos</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>carrito</servlet-name>
    <url-pattern>/carritoDeCompras</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>catalogo</servlet-name>
    <url-pattern>/catalogo</url-pattern>
  </servlet-mapping>
  
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>

</web-app>